includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/roave/no-floaters/rules.neon

parameters:
    excludePaths:
        - */Migrations/*
        - src/Entity/*
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
    inferPrivatePropertyTypeFromConstructor: true